p{
    color:grey;
}

.header{
    background-image: url(header-bg.png);
    overflow: hidden;
}
.margin{
    margin-top: 6%;
}
.half-width{
    height: 650px;
    width: 40%;
    float: left;
    margin-left: 5%;
    overflow: hidden;
}
.name-highlight{
    color: #e83e8c;
    font-weight: 700px;
}
.biography-img{
    margin-top: 35%;
    position: relative;
}
img{
    width: 100%;
}
.btns{
    text-decoration: none;
    background-image: linear-gradient(-225deg,deeppink,salmon);
    border-radius: 5px;
    padding: 5px 20px;
    color:white;
}
.biography{
    background-image: url(biography-bg.png);
    height: 100%;
    overflow: hidden;
}
.Biography{
    margin-top: 25%;
}
.bd{
    margin-top: 10%;
    font-size: medium;
}
.my-latest-work{
    background-image: url(latest-work-bg.png);
    overflow: hidden;
}
.my-work{
    height: fit-content;
}
.footer{
    background-image: url(footer-bg.png);
}
.align-center{
    text-align: center;
}
.img-align{
    width: 23.33%; 
    height: 9%;
    float: left;
    margin: 5% 5% ;
}
.text{
    margin-top: 3%;
}
.background{
    text-align: center;
    background-color: #e83e8c;
    padding: 10px;
    border-radius: 5px;
}
   
